<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nenzhelele Ndugelo Benjamini-portfolio</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <div id="vue">
      <nav class="nav-bar">
        <div class="header">
          <div class="a-box text">
            <a href="#about">About</a>
          </div>
          <div class="a-box text">
            <a href="#education">Education</a>
          </div>
          <div class="a-box text">
            <a href="#projects">Projects</a>
          </div>
        </div>
        <div class="contacts-nav">
          <h1>CONTACT ME!</h1>
          <ul class="a-box socialNav" v-for="contact in contacts">
            <li>
              <a :href="contact.handle" :class="contact.icon"
                ><span>{{contact.name}}</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="the-body">
        <div class="hero-container">
          <div class="hero">
            <img src="src/images/code-background.jpg" alt="background.jpg" class="image" /> 
          </div> 
        </div>
        <div class="sections">
          <section class="container" id="about">
            <div class="words">
              <h1>About <span>ME!</span></h1>
              <p>
                Hi! Ben here,
                <span><br> welcome to my portfolio site </span>
              </p>
              <p>
                I recently graduated from Nelson Mandela University doing BSc
                Computer Science and Mathematical statistics. I know a thing or
                two.
                <p>
                  I've done GUIs for windows as well as android applications
                  Outside of my caricullum i've done web apps and learned new
                  languages and frameworks. I was assesed in C# and Java as
                  languages to programme and manipulate data structures
                  incoporating OOPs principles.
                </p>
              </p>
            </div>
            <div class="illustration" id="about-illustration"> 
              <img src="src/illustrations/undraw_profile_re_4a55.svg" alt="">
            </div>
          </section>
          <section class="skills">
            <div class="bg-container"> 
            <div v-for="skill in programmingSkills" class="skill-container"> 
             <div class="skill">{{skill.skill}}</div>
             <div class="progress-bar"> 
              <div v-bind:style="{width:skill.value}"
              class="progress-bar-div">
            </div>
          </div> 
          <div class="value">{{skill.value}}</div> 
            </div>
            </div>
            <button class="btn" id="download-cv"><a href="src/files/Nenzhelele Ndugelo Benjamini.pdf" download="my_resume">Download CV</a></button>
          </section>
          <section class="container" id="education">
            <div class=" words" id="education-words"> 
              <h1><span>MY</span>Education</h1>
              <div class="qualifications"> 
              <div v-for="qualification in education" >
              <span id=" institution">{{qualification.institution}}</span><br>
              <span id=" qualification-name">{{qualification.qualification}}</span><br>
              <span id="year">{{qualification.year}}</span>
              </div>   
              </div>
            </div>  
              <div class=" certificate-illustration" >
                <img src="src/illustrations/undraw_certificate_re_yadi.svg" alt="">
              </div>
          </section>
          <section class="container" id="projects">
            <div class="words" id="project-words"> 
               <h1> Projects</h1>
               <p>Some of the projects i've done. <br> Mostly during my varsity time </p>
            </div>
            <div class="projects">
              <div class="project"> 
                  <img class="project-fill" src="src/illustrations/3d-stripy-black-calculator.png" alt="my_calculator">
                <div class="project-name">
                  <p>calculator</p>
                </div>
              </div>
              <div class="project">
                <img class="project-fill" src="src/illustrations/doobry-task-list.png" alt="to-do list">
                <div class="project-name"><p>To-do list</p></div>
              </div>
              <div class="project">
                <img src="src/illustrations/business-3d-game-boy-side-view.png" alt="sos game" class="project-fill">
                <div class="project-name"><p>SoS game</p></div>
              </div>
            </div>
          </section>
          <section class="container ending">
<h1>Thanks for the visit!!!!</h1>
          </section>
        </div>
        <div class="footer">
          <div class="contact-me">
            <h1>CONTACT ME!</h1>
            <div class="contacts-footer">
              <ul class="a-box socialFooter" v-for="contact in contacts">
                <li>
                  <a :href="contact.handle" :class="contact.icon"
                    ><span>{{contact.name}}</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <script src="vue.js"></script>
    </div>
  </body>
</html>
